<div>
  <h2>WTF Man.....</h2>
  <br>
<br>
<div id="wrapper">
    <div id="header">
        Update Account
    </div>
    <br>
    <br>
    <div class="example-container">
        <mat-form-field>
          <input type="text" matInput placeholder="Username">
        </mat-form-field>
      
        <mat-form-field>
            <input type="password" matInput placeholder="Password">
          </mat-form-field>
      
          <mat-form-field>
            <input type="text" matInput placeholder="First Name">
          </mat-form-field>
      
          <mat-form-field>
            <input type="text" matInput placeholder="Last Name">
          </mat-form-field>
          <br>
          <br>
        </div>
    <div class="example-container">
        <button type="submit" mat-raised-button color="primary">Update</button>
    </div>
</div>
  
  
   <!--
     <mat-card>
<mat-divider></mat-divider>
    <br>
    <form [formGroup]="updateForm" class="edit-form">
      <mat-form-field class="field-full-width">
        <input placeholder="Username" matInput formControlName="username" #username>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input placeholder="password" matInput formControlName="password" #password>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input placeholder="First Name" matInput formControlName="fname" #fname></input>
      </mat-form-field>
      <mat-form-field  class="field-full-width">
          <input placeholder="Last Name" formControlName="lname" #lname>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/list/bank-get">Back</button>
      <button type="submit" (click)="updateIssue(title.value, responsible.value, description.value, severity.value, status.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>


   -->
    
</div>
