<div class="wrapper">
  <br>
  <br>
    <mat-card-title>About P & J Bank</mat-card-title>
        <mat-divider></mat-divider>
    <mat-card>
        <p>
          The bank is a lie!  Run, run away as FAST as you can!
          Fly, fly you fools! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed scelerisque justo, at fermentum velit. Sed mollis fringilla ipsum sit amet euismod. Mauris iaculis purus ac libero aliquam, sit amet sodales nisi accumsan. Fusce tincidunt enim est, id aliquam urna porta quis. Donec vulputate velit ut est placerat, sit amet varius justo malesuada. Fusce eget mollis lacus. Nulla in suscipit ante. Donec mollis, ante ut volutpat posuere, metus lorem hendrerit dolor, vel tempor nulla diam pulvinar massa. Curabitur aliquet eros in sodales vestibulum.

          Sed posuere dolor nisi, vel volutpat nisl tempor eget. Proin pulvinar dolor eget ipsum pulvinar fermentum. Curabitur bibendum risus et feugiat vestibulum. Aliquam elementum vel urna ac vehicula. Quisque eros est, rhoncus et porttitor at, mollis id erat. Etiam et lacinia dolor. Mauris lectus ligula, semper vestibulum dictum vitae, maximus eget nisi. Aenean luctus scelerisque tempor. Aliquam consectetur, risus quis facilisis finibus, lacus nulla tincidunt lacus, nec eleifend massa metus sed lacus.
          
        Praesent vitae gravida elit. Donec porta, libero dapibus rutrum consequat, dolor dolor auctor tortor, at lobortis nisi augue eget dui. Cras vitae cursus est. Nullam auctor sit amet nibh ac molestie. Proin in tempor urna. Maecenas facilisis nibh in dui interdum tempus. Aenean elementum, velit sed consequat faucibus, turpis metus dictum odio, id pellentesque tellus augue vitae erat. Pellentesque et erat faucibus diam faucibus placerat. Vivamus ultricies nulla vel sagittis porta. Sed non dui sit amet lectus facilisis volutpat non eget est. In hac habitasse platea dictumst. Pellentesque eu massa sed lorem rhoncus pretium. Sed metus velit, pharetra in dictum nec, feugiat posuere velit. Nam diam nunc, mollis id placerat a, convallis et felis. Etiam suscipit urna vitae nisi cursus, in condimentum eros tincidunt.
        </p>
        <br>
        <br>
        <br>
      </mat-card>
      <mat-divider></mat-divider>
      <br>
      <br>
      <br>
</div>
 


