.wrapper {
    width: auto;
    align-content: center;
}

.example-container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
.example-container > * {
    max-width: 50%;
  }

 #header {
     text-align: center;
     font-size: 150%;
 }


 