<!--The content below is only a placeholder and can be replaced.-->

    <div>
        <br>
          <mat-card>
            <div style="text-align:center">
              <h1>
                Welcome to {{ title }}!
              </h1>
            </div>
      
          </mat-card>
          <mat-toolbar color="primary" class="navbar">
             
              <div>
                <span routerLink="/index">Home</span>
                <span routerLink="/info/about">About Us</span>
                <span routerLink="/info/contact">Contact Us</span>
              </div>
            </mat-toolbar>
      </div>
      <router-outlet></router-outlet>
   
      


